@charset "UTF-8";
/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: 'Kameron','Noto Sans JP', sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

@media (min-width: 320px) {
  .header {
    display: none;
  }
  .own-pe {
    display: block;
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1601342631712-1e491a7e7c30?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
    background-size: cover;
    height: 320px;
    opacity: 100;
  }
  .own-pe::before {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: " ";
  }
  .own-pe .logo {
    width: 150px;
    opacity: 100;
    position: absolute;
    top: 100px;
    left: 50%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  .own-pe .text {
    opacity: 100;
    width: 310px;
    position: absolute;
    top: 230px;
    left: 50%;
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
    color: white;
    font-size: 20px;
  }
  .two-pe {
    display: block;
    position: relative;
    height: 600px;
  }
  .two-pe h1 {
    position: absolute;
    top: 80px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
    font-size: 20px;
    width: 330px;
  }
  .two-pe .main-flex {
    position: absolute;
    top: 360px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 90%;
  }
  .two-pe .main-flex .sub-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .two-pe .main-flex .sub-flex img {
    width: 100px;
    height: 100px;
  }
  .two-pe .main-flex .sub-flex h2 {
    position: relative;
    top: 20px;
    width: 350px;
    font-size: 15px;
    color: #555555;
  }
  .two-pe .main-flex .sub-flex:nth-child(4) h2 {
    position: relative;
    top: 30px;
  }
  .three-pe {
    display: block;
    position: relative;
    background-color: #f9f9f9;
    height: 2200px;
  }
  .three-pe h1 {
    position: absolute;
    top: 70px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
    font-size: 15px;
    width: 270px;
  }
  .three-pe .text {
    position: absolute;
    top: 120px;
    left: 50%;
    -webkit-transform: translate(-49%, -50%);
            transform: translate(-49%, -50%);
    color: #555555;
    font-size: 10px;
    width: 290px;
  }
  .three-pe .main-flex {
    position: absolute;
    top: 1150px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 90%;
  }
  .three-pe .main-flex .sub-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .three-pe .main-flex .sub-flex .box1 {
    padding: 0.5em 1em;
    border: solid 1px #000000;
    height: 500px;
    width: 100%;
  }
  .three-pe .main-flex .sub-flex .box1 img {
    position: relative;
    top: 90px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 150px;
  }
  .three-pe .main-flex .sub-flex .box1 h2 {
    position: relative;
    top: 40px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 220px;
  }
  .three-pe .main-flex .sub-flex .box1 p {
    position: relative;
    top: 70px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 250px;
  }
  .three-pe .main-flex .sub-flex .box1 .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .three-pe .main-flex .sub-flex .box1 .list .btn-flat-border {
    color: black;
    position: relative;
    top: 50px;
    font-size: 18px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 15px;
  }
  .three-pe .main-flex .sub-flex .box1 .list .btn-flat-border:hover {
    color: chocolate;
    border: none;
  }
  .three-pe .sub-flex:nth-child(1) .box1 {
    height: 400px;
  }
  .three-pe .sub-flex:nth-child(1) .box1 p {
    position: relative;
    top: 65px;
  }
  .three-pe .sub-flex:nth-child(1) .box1 .btn-flat-border {
    position: relative;
  }
  .three-pe .sub-flex:nth-child(2) .box1 h2 {
    width: 110px;
  }
  .three-pe .sub-flex:nth-child(2) .box1 p {
    position: relative;
    top: 90px;
    width: 250px;
  }
  .three-pe .sub-flex:nth-child(2) .box1 .btn-flat-border {
    position: relative;
    top: 10px;
    text-align: center;
    left: 3px;
    color: black;
    font-size: 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
  }
  .three-pe .sub-flex:nth-child(2) .box1 .btn-flat-border:hover {
    color: chocolate;
    border: none;
  }
  .three-pe .sub-flex:nth-child(3) .box1 {
    height: 350px;
  }
  .three-pe .sub-flex:nth-child(3) .box1 h2 {
    width: 170px;
  }
  .three-pe .sub-flex:nth-child(3) .box1 p {
    position: relative;
    top: 79px;
  }
  .three-pe .sub-flex:nth-child(4) .box1 {
    height: 350px;
  }
  .three-pe .sub-flex:nth-child(4) .box1 h2 {
    width: 190px;
  }
  .three-pe .sub-flex:nth-child(4) .box1 p {
    position: relative;
    top: 79px;
  }
  .three-pe .sub-flex:nth-child(5) .box1 {
    height: 330px;
  }
  .three-pe .sub-flex:nth-child(5) .box1 h2 {
    position: relative;
    width: 150px;
  }
  .three-pe .sub-flex:nth-child(5) .box1 p {
    width: 260px;
  }
  .four-pe {
    display: block;
    position: relative;
    height: 530px;
  }
  .four-pe h1 {
    position: absolute;
    top: 40px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 20px;
    width: 190px;
  }
  .four-pe .swiper-pe {
    z-index: 2;
    position: relative;
    top: 230px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    overflow: hidden;
    width: 100%;
    height: 600px;
  }
  .four-pe .swiper-pe .swiper-slide {
    width: 90%;
  }
  .four-pe .swiper-pe .swiper-slide .main-flex {
    position: absolute;
    top: 360px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .four-pe .swiper-pe .swiper-slide .main-flex .sub-flex {
    text-align: center;
  }
  .four-pe .swiper-pe .swiper-slide .main-flex .sub-flex img {
    width: 330px;
  }
  .four-pe .swiper-pe .swiper-slide .main-flex .sub-flex p {
    width: 290px;
  }
  .five-pe {
    display: block;
    position: relative;
    background-color: #f9f9f9;
    height: 1500px;
  }
  .five-pe h1 {
    position: absolute;
    top: 60px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
    font-size: 30px;
  }
  .five-pe .own {
    position: absolute;
    top: 180px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
  }
  .five-pe .own-tab {
    position: absolute;
    top: 550px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 90%;
  }
  .five-pe .own-tab th {
    color: black;
    padding: 8px 15px;
    background: #eeeeee;
    font-weight: bold;
    border: 1px solid silver;
    line-height: 220%;
    text-align: center;
    width: 60px;
    font-size: 10px;
  }
  .five-pe .own-tab td {
    border: 1px solid silver;
    text-align: center;
    width: 80px;
  }
  .five-pe .two-tab {
    position: absolute;
    top: 1180px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 90%;
  }
  .five-pe .two-tab td {
    border: 1px solid silver;
    text-align: center;
    width: 80px;
    height: 50px;
    font-size: 10px;
  }
  .five-pe .two-tab .list {
    background-color: #eeeeee;
    font-weight: bold;
  }
  .six-pe {
    display: block;
    position: relative;
    height: 460px;
  }
  .six-pe h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
    font-size: 25px;
  }
  .six-pe .own-tab {
    position: absolute;
    top: 260px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 95%;
  }
  .six-pe .own-tab .g {
    font-weight: bold;
    font-size: 7px;
    background-color: #eeeeee;
  }
  .six-pe .own-tab th {
    color: black;
    padding: 8px 15px;
    background: #eeeeee;
    border: 1px solid silver;
    line-height: 220%;
    text-align: center;
    width: 80px;
    font-size: 10px;
  }
  .six-pe .own-tab td {
    border: 1px solid silver;
    text-align: center;
    width: 90px;
    font-size: 10px;
  }
  .seven-pe {
    display: block;
    position: relative;
    background-color: #f9f9f9;
    height: 910px;
  }
  .seven-pe h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
    font-size: 30px;
  }
  .seven-pe .main-flex {
    position: absolute;
    top: 500px;
    left: 50%;
    -webkit-transform: translate(-40%, -50%);
            transform: translate(-40%, -50%);
  }
  .seven-pe .main-flex .sub-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .seven-pe .main-flex .sub-flex .left-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
  }
  .seven-pe .main-flex .sub-flex .left-flex img {
    width: 70px;
    height: 70px;
  }
  .seven-pe .main-flex .sub-flex .left-flex h2 {
    position: relative;
    top: 20px;
    margin-left: 30px;
    font-size: 14px;
    width: 170px;
  }
  .eight-pe {
    position: relative;
    height: 1350px;
  }
  .eight-pe .list {
    position: absolute;
    top: 670px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 90%;
  }
  .mobile-menu {
    display: none;
  }
  .own-pc {
    display: none;
  }
  .two-pc {
    display: none;
  }
  .three-pc {
    display: none;
  }
  .four-pc {
    display: none;
  }
  .five-pc {
    display: none;
  }
  .six-pc {
    display: none;
  }
  .seven-pc {
    display: none;
  }
  .eight-pc {
    display: none;
  }
}

@media (min-width: 374px) {
  .own-title .own-pc {
    display: none;
  }
  .own-title .two-pc {
    display: none;
  }
  .own-title .three-pc {
    display: none;
  }
  .own-title .four-pc {
    display: none;
  }
  .own-title .five-pc {
    display: none;
  }
  .own-title .six-pc {
    display: none;
  }
  .own-title .seven-pc {
    display: none;
  }
  .own-title .eight-pc {
    display: none;
  }
}

@media (min-width: 500px) {
  .own-title .two-pe h1 {
    font-size: 25px;
    width: 400px;
  }
  .own-title .three-pe {
    position: relative;
    height: 2270px;
  }
  .own-title .three-pe h1 {
    font-size: 20px;
    width: 360px;
  }
  .own-title .three-pe .text {
    font-size: 15px;
    width: 430px;
  }
  .own-title .three-pe .main-flex {
    position: absolute;
    top: 1200px;
    height: 2150px;
    width: 65%;
  }
  .own-title .three-pe .main-flex .sub-flex {
    margin-top: 30px;
  }
  .own-title .three-pe .main-flex .sub-flex .box1 .list .btn-flat-border {
    font-size: 17px;
  }
  .own-title .four-pe h1 {
    font-size: 25px;
    width: 240px;
  }
  .own-title .six-pe h1 {
    font-size: 30px;
  }
  .own-title .own-pc {
    display: none;
  }
  .own-title .two-pc {
    display: none;
  }
  .own-title .three-pc {
    display: none;
  }
  .own-title .four-pc {
    display: none;
  }
  .own-title .five-pc {
    display: none;
  }
  .own-title .six-pc {
    display: none;
  }
  .own-title .seven-pc {
    display: none;
  }
  .own-title .eight-pc {
    display: none;
  }
  .own-title .eight-pe {
    display: none;
  }
}

@media (min-width: 1000px) {
  .own-title .own-pc {
    display: block;
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1542744095-291d1f67b221?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
    background-size: cover;
    height: 460px;
  }
  .own-title .own-pc::before {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: " ";
  }
  .own-title .own-pc .header {
    z-index: 100;
    position: absolute;
    top: 20px;
    right: 50px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 500px;
    font-weight: lighter;
  }
  .own-title .own-pc .header a {
    color: rgba(255, 255, 255, 0.95);
    display: none;
  }
  .own-title .own-pc .logo {
    position: absolute;
    top: 155px;
    left: 50%;
    -webkit-transform: translate(-200%, -50%);
            transform: translate(-200%, -50%);
    width: 130px;
    z-index: 2;
  }
  .own-title .own-pc h1 {
    position: absolute;
    top: 290px;
    left: 50%;
    -webkit-transform: translate(-58%, -50%);
            transform: translate(-58%, -50%);
    width: 420px;
    color: white;
    z-index: 2;
  }
  .own-title .two-pc {
    display: block;
    position: relative;
    height: 600px;
  }
  .own-title .two-pc h1 {
    position: absolute;
    top: 80px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
    font-size: 30px;
    width: 480px;
  }
  .own-title .two-pc .main-flex {
    position: absolute;
    top: 360px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .own-title .two-pc .main-flex .sub-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 550px;
  }
  .own-title .two-pc .main-flex .sub-flex img {
    width: 100px;
  }
  .own-title .two-pc .main-flex .sub-flex h2 {
    position: relative;
    top: 40px;
    width: 350px;
    font-size: 16px;
    color: #555555;
  }
  .own-title .two-pc .main-flex .sub-flex:nth-child(4) h2 {
    position: relative;
    top: 30px;
  }
  .own-title .three-pc {
    display: block;
    position: relative;
    background-color: #f9f9f9;
    height: 1400px;
  }
  .own-title .three-pc h1 {
    position: absolute;
    top: 70px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
    font-size: 30px;
    width: 540px;
  }
  .own-title .three-pc .text {
    position: absolute;
    top: 120px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
    font-size: 17px;
    width: 490px;
  }
  .own-title .three-pc .main-flex {
    position: absolute;
    top: 760px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 900px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .own-title .three-pc .main-flex .sub-flex .box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 1px #555555;
    width: 370px;
    height: 400px;
    border-radius: 10px;
  }
  .own-title .three-pc .main-flex .sub-flex .box1 img {
    position: relative;
    top: 10px;
    left: 100px;
    width: 150px;
    height: 130px;
  }
  .own-title .three-pc .main-flex .sub-flex .box1 h2 {
    position: relative;
    top: 20px;
    left: 70px;
    font-size: 20px;
  }
  .own-title .three-pc .main-flex .sub-flex .box1 p {
    position: relative;
    top: 30px;
    left: 13px;
    font-size: 14px;
    width: 330px;
    font-weight: lighter;
  }
  .own-title .three-pc .main-flex .sub-flex .box1 .btn-flat-border {
    position: relative;
    top: 25px;
    left: 55px;
    color: black;
    font-size: 18px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .own-title .three-pc .main-flex .sub-flex .box1 .btn-flat-border:hover {
    color: chocolate;
    border: none;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(1) .box1 p {
    position: relative;
    top: 50px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(1) .box1 .btn-flat-border {
    position: relative;
    top: 80px;
    text-align: center;
    left: 5px;
    color: black;
    font-size: 18px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(1) .box1 .btn-flat-border:hover {
    color: chocolate;
    border: none;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(2) .box1 h2 {
    position: relative;
    left: 125px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(2) .box1 p {
    position: relative;
    left: 5px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(2) .box1 .btn-flat-border {
    position: relative;
    top: 20px;
    text-align: center;
    left: 3px;
    color: black;
    font-size: 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(2) .box1 .btn-flat-border:hover {
    color: chocolate;
    border: none;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(3) .box1 {
    height: 300px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(3) .box1 img {
    position: relative;
    left: 95px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(3) .box1 h2 {
    position: relative;
    left: 90px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(3) .box1 p {
    position: relative;
    top: 33px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(4) .box1 {
    height: 300px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(4) .box1 h2 {
    position: relative;
    left: 80px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(4) .box1 p {
    position: relative;
    top: 33px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(5) .box1 {
    height: 280px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(5) .box1 h2 {
    position: relative;
    top: -2px;
    left: 100px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(5) .box1 p {
    position: relative;
    top: 10px;
    left: -1px;
  }
  .own-title .four-pc {
    display: block;
    position: relative;
    height: 700px;
  }
  .own-title .four-pc h1 {
    position: absolute;
    top: 70px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
    font-size: 30px;
  }
  .own-title .four-pc .swiper-pc {
    z-index: 2;
    position: relative;
    top: 350px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    overflow: hidden;
    width: 100%;
    height: 630px;
  }
  .own-title .four-pc .swiper-pc .swiper-slide .main-flex {
    position: absolute;
    top: 360px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 1100px;
  }
  .own-title .four-pc .swiper-pc .swiper-slide .main-flex .sub-flex {
    text-align: center;
  }
  .own-title .four-pc .swiper-pc .swiper-slide .main-flex .sub-flex img {
    width: 330px;
  }
  .own-title .four-pc .swiper-pc .swiper-slide .main-flex .sub-flex p {
    width: 290px;
  }
  .own-title .five-pc {
    display: block;
    position: relative;
    background-color: #f9f9f9;
    height: 1600px;
  }
  .own-title .five-pc h1 {
    position: absolute;
    top: 60px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
    font-size: 30px;
  }
  .own-title .five-pc .own {
    position: absolute;
    top: 180px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
  }
  .own-title .five-pc .own-tab {
    position: absolute;
    top: 550px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
    font-size: 15px;
  }
  .own-title .five-pc .own-tab th {
    color: black;
    padding: 8px 15px;
    background: #eeeeee;
    font-weight: bold;
    border: 1px solid silver;
    line-height: 220%;
    text-align: center;
    width: 60px;
  }
  .own-title .five-pc .own-tab td {
    border: 1px solid silver;
    text-align: center;
    width: 80px;
  }
  .own-title .five-pc .two-tab {
    position: absolute;
    top: 1250px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
    font-size: 15px;
  }
  .own-title .five-pc .two-tab td {
    border: 1px solid silver;
    text-align: center;
    width: 80px;
    height: 50px;
  }
  .own-title .five-pc .two-tab .list {
    background-color: #eeeeee;
    font-weight: bold;
  }
  .own-title .six-pc {
    display: block;
    position: relative;
    height: 560px;
  }
  .own-title .six-pc h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
    font-size: 30px;
  }
  .own-title .six-pc .company {
    position: absolute;
    top: 330px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 85%;
    font-size: 15px;
  }
  .own-title .six-pc .company th {
    color: black;
    padding: 8px 15px;
    font-weight: bold;
    border-left: 1px solid silver;
    line-height: 220%;
    text-align: center;
    width: 60px;
  }
  .own-title .six-pc .company td {
    border-left: 1px solid silver;
    text-align: center;
    width: 90px;
  }
  .own-title .six-pc .top {
    font-size: 25px;
    font-weight: bold;
  }
  .own-title .seven-pc {
    display: block;
    position: relative;
    background-color: #f9f9f9;
    height: 910px;
  }
  .own-title .seven-pc h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
    font-size: 30px;
  }
  .own-title .seven-pc .main-flex {
    position: absolute;
    top: 500px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .own-title .seven-pc .main-flex .sub-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .own-title .seven-pc .main-flex .sub-flex .left-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
  }
  .own-title .seven-pc .main-flex .sub-flex .left-flex img {
    width: 70px;
  }
  .own-title .seven-pc .main-flex .sub-flex .left-flex h2 {
    position: relative;
    top: 10px;
    margin-left: 30px;
    font-size: 20px;
  }
  .own-title .eight-pc {
    display: block;
    position: relative;
    height: 620px;
  }
  .own-title .eight-pc .list {
    position: absolute;
    top: 330px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #container {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .menu-open {
    display: none;
  }
  .main-title {
    display: none;
  }
  .sub-title {
    display: none;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */